.LogoAndTitle {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.Logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.ContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.PizzaOptions {
  flex: 1;
}

.Basket {
  min-width: 200px;
  margin-right: 20px;
}

/* Add any additional styles you need */
