.LogoAndTitle {
  display: flex;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.84);
}

.Logo img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  background-color: rgba(255, 0, 0, 0.84);
}

.ContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  background-color: rgba(255, 106, 0, 0.84);
}

.PizzaOptions {
  flex: 1;
}

.Basket {
  min-width: 200px;
  margin-right: 20px;
}

